ion-content{
    // --background: #9f7bb8; 
}
ion-grid{
    // height: 100%;
    padding: 0;      
    ion-row{
        padding: 0;

        ion-col{
            padding: 0;
        }
    }
}
.logo{             
    padding: 0;
    margin: 0;    
    ion-item{
        --background: var(--ion-color-primary);
        ion-img{               
            margin: 0 auto;        
            max-width: 413px;
        }
    }    
    
}
// .topo{    
//     padding: 0;
//     margin: 0;          
//     width: 100%;    
//     //linha 2
//     .controll{                      
//         width: 100%;    
//         ion-segment{                         
//             margin: 0 auto;
//             width: 100%;                                     
//             ion-segment-button{                      
//                 cursor: pointer;                                                                                                
//                 --background-checked: #eb6931;
//                 --indicator-color-checked: none;            
//                 --color-checked: var(--ion-color-tertiary-shade);                                
//             }
//         }
//     }    
// }
.meio{
    width: 90%;   
    height: 100%;         
    padding: 0;
    margin: 0 auto;
    margin-top: 5px;
    border: 2px solid var(--ion-color-primary);
    border-radius: 10px;
    border-style: dashed;        
    ion-col{
        width: 100%;
        height: 100%;        
        .slides{    
            padding: 0;                
            width: 100%;               
                                                       
            ion-slides{
                width: 100%;                           
                height: 100%;     
                padding: 0;                
                ion-slide{
                    padding: 0;                    
                    height: 320px;
                    width: 100%;                    
                }
                .slide-inner{                    
                    justify-content: center;
                    align-items: center;                    
                    width: 75%;                            
                    span{
                        font-size: 25px;
                        color: var(--ion-color-tertiary-shade);
                    }
                    ion-item{       
                        border: 2px solid var(--ion-color-primary);
                        border-radius: 10px;
                        border-style: dashed;                                     
                        ion-input{
                            font-size: 14px;                            
                            // border-bottom: 1px solid var(--ion-color-tertiary-shade);
                            color: var(--ion-color-tertiary-shade);
                            text-align: center;
                        }                                 
                    }
                    ion-button{
                        width: 50%;
                        margin: 10px auto;                            
                        --color: var(--ion-color-tertiary-shade);
                    }                                           
                }
            }
        }
    }
}
.fim{
    width: 100%;      
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;    
    background: var(--ion-color-primary);
    ion-row{
        height: 80px;   
        ion-col{
            background: var(--ion-color-primary);
            margin: 10px;
            border-style: dashed;
            border: 1px solid white;
        }     
    }
    .contacts{
        display: grid;
        justify-content: center;        
        
        --background: var(--ion-color-primary);                  
        height: 100%;                      
        img{            
            width: 120px;            
            height: 50px;
        }        
    }
}

